
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "../variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "header";
@import "footer";
@import "noAccount";

html, body {
  height: 100%;
}
#app {
  height: 100%;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  .wrap {
    height: calc(100vh - #{$mobileHeightHeader} - #{$mobileHeightFooter});
    main {
      height: calc(100vh - #{$mobileHeightHeader} - #{$mobileHeightFooter});
      min-height: 100%;
      overflow-y: auto;
    }
  }
  .img-qrcode {
    width: 80px;
    height: 80px;
  }

  .img-coin {
    width: 20px;
    height: 20px;
  }
  .pagination {
    justify-content: center;
    margin-top: 2rem;
    height: 30px;
    font-family: $font-family-open-sans;
    li.pagination-page {
      width: 30px;
      margin: 0 5px;
      text-align: center;
      cursor: pointer;
      &.active {
        a {
          color: #ffc000;
        }
      }
      a {
        color: $white;
        font-size: 1rem;
        text-decoration: none;
      }
    }
    .pagination-prev,
    .pagination-next {
      a {
        color: $white;
        text-decoration: none;
        font-size: 1rem
      }
    }
  }
}
